# ============================================
# GITIGNORE FILE FOR GR PROJECT
# ============================================

#======================
# Project specifics - MATLAB
#======================

*.mat
*.wav
*.mp3


*.mp4
*.avi

*.jpeg
*.jpg
*.png
diary


#======================
# Project specifics - KALDI
#======================
*.txt
*.mfc


# =================
# Linux OS
# =================
*~


# =================
# Windows OS
# =================
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
